<!-- <h1 [innerText]="title"></h1> -->
 <app-header-menu></app-header-menu>
<h1>
  {{title}}
</h1>
<p>{{ name }} tarafından {{date}} tarihinde yazıldı</p>

<p>{{person.name}} {{person.date}}</p>

@if (todoItems) {

<h3>Yapılacak toplam iş [{{getIncompletedTasksCount()}}]</h3>
<button (click)="filter()" class="btn btn-success">{{filterButtonText}}</button>
<ul>
  <!-- <li *ngFor="let todo of todoItems">
    {{todo.task}}
    <input [checked]="todo.isDone" type="checkbox" name="" id="">
  </li> -->
  @for (item of todoItems; track $index) {
    <li [ngClass]="item.isDone ? 'done':'undone'">{{item.task}}
      <input type="checkbox"  [(ngModel)]="item.isDone" name="" id="">({{item.isDone ? 'Yapıldı':'Yapılmadı'}})
   </li>
  }
</ul>
}@else {
  <p>Yapılacak görev yok!</p>
}

<app-add-todo-item></app-add-todo-item>